<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      dir="ltr"
>
<head>
    <meta charset="UTF-8">
    <title>[[${pageTitle}]]</title>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css"> <!-- CSS faylni chaqirish -->
<!--    <script src="/static/js/main.js"></script> &lt;!&ndash; JavaScript faylni chaqirish &ndash;&gt;-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<body>
<div class="container">
    <div class="title">[[${pageTitle}]]</div>
        <div class="card">
            <div th:if="${param.success}">
                <div class="alert alert-info">Tabriklaymiz! Siz Muvvaffaqiyatli ro'yxatdan o'tdingiz </div>
            </div>
        </div>
    <div class="content">
                <form method="post" role="form" th:action="@{/register/save}" th:object="${user}">
                    <div class="user-details">
                    <div class="input-box">
                        <span class="details">Bo'lim</span>
                        <select  type="text" placeholder="Bo'lim " th:field="*{department}" name="department" id="department">
                            <option value=""></option>
                            <option value="RTTM"> Raqamli ta'lim texnologiyalar markazi </option>
                            <option value="Sanoatni Axborotlashtirish fakulteti"> Sanoatni Axborotlashtirish fakulteti</option>
                            <option value="ARM">Axborot resurs markazi </option>
                        </select>
                    </div>

                    <div class="input-box">
                        <span class="details">Lavozimi</span>
                        <input name="position" type="text" placeholder="Lavozimingizni kiriting "   th:field="*{position}" >
                    </div>

                    <div class="input-box">
                        <span class="details">Ism</span>
                        <input id="firstName" name="firstName" placeholder="Ismingizni kiriting"  th:field="*{firstName}"
                               type="text"
                        >

                    </div>

                    <div class="input-box">
                        <span class="details">Familiya </span>
                        <input id="lastName" name="lastName" placeholder="Familiyangizni kiriting" th:field="*{lastName}"
                               type="text"
                        >
                    </div>
                    <div class="input-box">
                        <span class="details">Email</span>
                        <input name="email" type="text" placeholder="Emailingzni kiriting " id="email"  th:field="*{email}">
                    </div>

                    <div class="input-box">
                        <span class="details">Telefon Raqami</span>
                        <input name="phoneNumber"  pattern="[+]{1}[9]{1}[9]{1}[8]{1}\s?[0-9]{2}\s?[0-9]{3}\s?[0-9]{2}\s?[0-9]{2}" type="text" placeholder="Telefon Raqamingizni  kiriting " id="phoneNumber"  th:field="*{phoneNumber}">
                    </div>


                    <div class="input-box">
                        <span class="details">Login</span>
                        <input
                               id="username"
                               name="username"
                               placeholder="Login ni kiriting"
                               th:field="*{username}"
                               type="text"
                        />
<!--                        <p th:errors="*{username}" class="text-danger"-->
<!--                           th:if="${#fields.hasErrors('username')}">-->
<!--                        </p>-->
                    </div>
                    <div class="input-box">
                        <span class="details">Parol</span>
                        <input
                               id="password"
                               name="password"
                               placeholder="Enter password"
                               th:field="*{password}"
                               type="password"
                        /> </div>
<!--                        <p th:errors="*{password}" class="text-danger"-->
<!--                           th:if="${#fields.hasErrors('password')}">-->
<!--                        </p>-->
                    </div>
                    <div class="button">
                        <input  type="submit" value="Register">
                        <span>Allaqachon ro'yxatdan o'tganman? <a href="/" th:href="@{/login}">Login
                             here</a></span>
                    </div>

                </form>
    </div>
    <!--<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" th:fragment="header">-->
    <!--    <div class="container-fluid">-->
    <!--        <a class="navbar-brand" th:href="@{/}">NamMQI Onlayn Ustaxonasi</a>-->
    <!--        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">-->
    <!--            <span class="navbar-toggler-icon"></span>-->
    <!--        </button>-->
    <!--    </div>-->
    <!--</nav>-->
    <!--<br />-->
    <!--<br />-->
            </div>
</body>
</html>