<!DOCTYPE html>
<html lang="uz">
<head>
    <title>Admin Sahifasi</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        .navbar-brand {
            font-size: 24px;
            font-weight: bold;
        }

        .navbar-nav .nav-link {
            font-size: 18px;
        }

        .jumbotron {
            background-color: #f8f9fa;
            padding: 30px;
            margin-top: 20px;
            text-align: center;
        }

        .jumbotron h1 {
            font-size: 36px;
            margin-bottom: 20px;
        }

        .jumbotron p {
            font-size: 24px;
        }

        .card {
            margin-bottom: 20px;
        }
    </style>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Admin Sahifasi</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="#">Bosh sahifa</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Xabarlar</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Statistikalar</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Sozlamalar</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Chiqish</a>
            </li>
        </ul>
    </div>
</nav>

<div class="jumbotron">
    <h1>Xush kelibsiz, Admin!</h1>
    <p>Bu sizning admin sahifangiz. Ushbu sahifa orqali xabarlarni tahrirlashingiz, statistikalarni ko'rishingiz va sozlamalarni o'zgartirishingiz mumkin.</p>
</div>
<div class="container my-5">
    <div class="row">
        <h1> Registered Users </h1>
    </div>
    <table class="table table-dark table-borderless">
        <thead class="table-dark">
        <tr class="table-active">
            <th>№</th>
            <th>Bo'lim</th>
            <th>Lavozimi</th>
            <th>Ismi</th>
            <th>Familiyasi</th>
            <th>Email</th>
            <th>Telefon Raqami</th>
            <th>Login</th>
        </tr>

        </thead>
        <tbody>
        <tr th:each="user: ${users}">
            <td th:text="${user.id}"></td>
            <td th:text="${user.department}"></td>
            <td th:text="${user.position}"></td>
            <td th:text="${user.firstName}"></td>
            <td th:text="${user.lastName}"></td>
            <td th:text="${user.email}"></td>
            <td th:text="${user.phoneNumber}"></td>
            <td th:text="${user.username}"></td>
            <td>
                <form th:action="@{/users/delete(id=${user.id})}" method="post">
                    <button class="btn btn-danger" type="submit">Delete</button>
                </form>
                <a href= "/user_message">Message</a>

        </tr>

        </tbody>
        <thead>
        <tr th:each="message: ${messages}">
            <td th:text="${message.theme}"></td>
            <td th:text="${message.complaintText}"></td>
            <td th:text="${message.positon}"></td>

        </thead>
    </table>
</div>
<!--<div class="container">-->
<!--    <div class="row">-->
<!--        <div class="col-md-4">-->
<!--            <div class="card">-->
<!--                <div class="card-body">-->
<!--                    <h5 class="card-title">Xabarlarni Tahrirlash</h5>-->
<!--                    <p class="card-text">Yangi xabarlar qo'shishingiz, mavjud xabarlarni o'zgartirishingiz va o'chirishingiz mumkin.</p>-->
<!--                    <a href="#" class="btn btn-primary">Batafsil</a>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="col-md-4">-->
<!--            <div class="card">-->
<!--                <div class="card-body">-->
<!--                    <h5 class="card-title">Statistikalar</h5>-->
<!--                    <p class="card-text">Sahifa statistikalari va foydalanuvchilar haqida ma'lumotlarni ko'rish uchun bu yerga o'ting.</p>-->
<!--                    <a href="#" class="btn btn-primary">Batafsil</a>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="col-md-4">-->
<!--            <div class="card">-->
<!--                <div class="card-body">-->
<!--                    <h5 class="card-title">Sozlamalar</h5>-->
<!--                    <p class="card-text">Sahifa sozlamalarini o'zgartirish, tizimni sozlash va boshqa sozlamalar bilan ishlash uchun bu yerga o'ting.</p>-->
<!--                    <a href="#" class="btn btn-primary">Batafsil</a>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>




























